.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    align-items: center;
    justify-items: center;
    gap: 0px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.download-button {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
